.DS_Store
__MACOSX/
*.pyc
config.glm
*.csv
config.glm
*.json
*.png
US/CA/SLAC/tariff_design/power_output/triplex/house_power_99.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_98.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_97.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_96.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_95.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_94.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_93.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_92.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_91.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_90.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_9.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_89.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_88.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_87.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_86.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_85.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_84.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_83.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_82.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_81.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_80.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_8.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_79.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_78.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_77.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_76.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_75.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_74.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_73.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_72.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_71.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_70.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_7.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_69.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_68.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_67.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_66.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_65.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_64.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_63.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_62.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_61.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_60.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_6.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_59.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_58.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_57.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_56.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_55.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_54.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_53.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_52.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_51.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_50.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_5.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_49.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_48.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_47.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_46.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_45.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_44.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_43.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_42.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_41.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_40.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_4.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_39.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_38.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_37.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_36.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_35.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_34.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_33.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_32.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_31.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_30.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_3.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_29.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_28.csv
US/CA/SLAC/tariff_design/power_output/triplex/house_power_27.csv
US/CA/SLAC/electrification_analysis/config.glm
